<app-header></app-header>
<app-navigation></app-navigation>


<div class="contact-us-container">
  <h1>Contact Us</h1>
  <p>We'd love to hear from you! Whether you have a question, feedback, or need assistance, our team is here to help.
  </p>

  <h2>Get in Touch</h2>
  <p><strong>Email : </strong> <a href="mailto:tradereverb@gmail.com">tradereverb&commat;gmail.com</a></p>
  <p><strong>Phone : </strong> +91 94459 30482</p>
  <p><strong>Address:</strong><br>Reverb Electronics<br>No-91 Sri ram salai, Sambhandam Nagar, Kundrathur <br>Chennai, Tamil Nadu, Pin Code : 600 069<br>India
  </p>

  <h2>Office Hours</h2>
  <p><strong>Monday to Friday:</strong> 9:00 AM - 5:00 PM</p>
  <p><strong>Saturday:</strong> 10:00 AM - 2:00 PM</p>
  <p><strong>Sunday:</strong> Closed</p>

  <!-- <h2>Follow Us</h2> -->
  <!-- <ul class="social-links">
    <li><a href="https://www.facebook.com/yourpage" target="_blank">Facebook</a></li>
    <li><a href="https://www.twitter.com/yourhandle" target="_blank">Twitter</a></li>
    <li><a href="https://www.instagram.com/yourhandle" target="_blank">Instagram</a></li>
    <li><a href="https://www.linkedin.com/company/yourcompany" target="_blank">LinkedIn</a></li>
  </ul> -->
</div>

<app-footer></app-footer>
