@import "../../app.component.scss";

.section {
    background-color: #c7c1db;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    animation: fade-in 1s ease 0.2s;
}

.d-block {
    height: 250px;
}

.first-phase {
    text-align: center;
    padding: 30px;
}

.short-description {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    h1 {
        margin-left: 20px;
        font-weight: 900;
        text-decoration: underline;
    }

    ul {
        li {
            margin-top: 15px;
            border: 1px solid black;
            margin-right: 20px;
            padding: 10px;
            a {
                float: right;
            }
        }
        li:hover {
            background-color: orange;
            color: white;
            animation:fade 1s ease;
            cursor: pointer;
        }
    }
}

.see-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
        height: 30px;
        width: 160px;
        border: none;
        font-weight: 700;
        border-radius: 100px;
        background-color: orange;
    }

    :hover {
        background-color: black;
        color: orange;
        border-radius: 100px;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


@media screen and (min-width:990px) {

    .d-block {
        height: 600px;
    }

    .banner {
        width: 1300px;
        height: 600px;
    }

    .second-phase {
        h1 {
            text-align: center;
        }
        ul {
            li {
                text-align: center;
                font-size: 25px;
            }
        }
    }

    .first-phase,
    .second-phase {
        margin: 50px 100px 50px 100px;
    }

    .first-phase {
        padding-left: 20px;
        font-size: 18px;
        line-height: 40px;
    }

    .see-more {
        button {
            height: 40px;
            width: 200px;
        }
    }
}